*.DS_Store
*.elc
/Not used/
/backups/
/eln-cache/
/elpa/
/history
/localpackages/welcome-dashboard
/localpackages/indent-bars
/places
/projectile-bookmarks.eld
/quelpa/
/recentf
/themes/.DS_Store
/transient/
/var/
/eln-cache/
/straight/
/github/mu4e-tff/
.persistent-scratch
/.cache/
/auto-save-list/
/dape-breakpoints
/hackernews/
/projectile.cache
/tree-sitter/
