/config.el
/elpa/
/ido.last
/bookmarks
/backups/
/auto-save-list/
/projectile-bookmarks.eld
/recentf
/helm-doc.org
/url/
/tramp
/*.cache
/..config.org.~undo-tree~.~undo-tree~
.DS_Store
/config.el
/.DS*
/eln-cache/
/history
/places
/straight/
/github/mu4e-tff/
